@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

html,body, #__nuxt {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@theme static {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Oswald', monospace;
  /* --font-title: 'Anek Odia', monospace; */

  --ui-text: black;
}

@layer utilities {
  .grainy {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600' opacity='0.3'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
  }
  
  .interactive-underline {
    @apply hover:underline active:underline decoration-2 decoration-primary;
  }
  
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .scrollbar-default {
    /* IE and Edge */
    -ms-overflow-style: auto;

    /* Firefox */
    scrollbar-width: auto;

    &::-webkit-scrollbar {
      display: block;
    }
  }
}